.center {
  margin: auto;
  width: 100%;
  border: 3px solid #FFFFFF;
  padding: 0px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alert {
  width:75%;   
  margin-left: auto;
  margin-right: auto; 
}