.center {
    background-color: #FFFFFF;
}
.house {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 70.75%;
    background: url("../../assets/diagram.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
.img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.light {
    position: absolute;
    width: 8.5%;
    height: 8.5%;
}
#light-0 {
    bottom: 30%;
    left: 12%;
}
#light-1 {
    top: 27%;
    left: 12%;
}
#light-2 {
    top: 27%;
    right: 38%;
}
#light-3 {
    bottom: 30%;
    left: 40%;
}
#light-4 {
    bottom: 30%;
    right: 26%;
}
.btn-on-lights {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 6%;
    top: 0%;
    right: 0%;
}
.btn-off-lights {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 6%;
    top: 7%;
    right: 0%;
}
.label-btn-lights {
    font-size: 1vw;
}
.door {
    position: absolute;
    width: 8.5%;
    height: auto;
    text-align: center;
}
#door-0 {
    top: 42%;
    left: -2%;
}
#door-1 {
    top: 43%;
    left: 40%;
}
#door-2 {
    top: 43%;
    right: 26%;
}
#door-3 {
    top: 30%;
    right: 15%;
}
.label-door {
    font-size: 1vw;
    background-color: #FFFFFF;
}
.camera {
    position: absolute;
    width: 8.5%;
    height: auto;
    top: 21%;
    right: 10.1%;
}
.btn-photo {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 6%;
    top: 14%;
    right: 0%;
}
.label-btn-photo {
    font-size: 1vw;
}
.modal-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 100%;
}
.modal-frame {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background-color: #1F1F1F;
    border-style: solid;
    border-color: #424242;
    top: 0%;
    left: 0%;
}
.modal-img {
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    object-fit: cover;
    top: 0%;
    left: 0%;
}
.modal-btn-ok {
    position: absolute;
    display: inline-block;
    background-color: #424242;
    width: 7.5%;
    height: 5%;
    bottom: 2.5%;
    right: 2.5%;
    border-radius: 10%;
}
.modal-lbl-ok {
    font-size: 1.25vw;
    color: grey;
}