<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark" >
      <a href="#" class="navbar-brand">Embedded System App</a>
      <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Log in</a>
        </li>
      </ul>
  
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/house" class="nav-link" routerLink="house"> House </a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Log out</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  